[DB]
user = 
password = 
database = 
host = 
data_table =
[Demon]
PidFile = /tmp/BME688Analysis.pid
[Logger]
filename = debug.log
format = %(asctime)s %(message)s
level = DEBUG
[MQTT]
host = 
port = 1883
clientName = BME688AI
[Cluster]
training_data = [
    {"name":" "my first cluster", "index":[{"start":123, "end":456}, {"start":13, "end":30}]},
    {"name": "my second cluster", "index":[{"start":987, "end":1002}]}]